*, *::before, *::after {
  box-sizing: border-box;
}
body {
  margin: 0;
  width: 100%;
  min-width: 100%;
  overflow-x: hidden;

  background-color: #0a1930; 
  color: white;
  font-family: Arial, sans-serif;
  text-align: center;
}

#root {
  width: 100%; 
  margin: 0 auto; 
  min-height: 100vh;
}